<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<section class="text-center">
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 150px;
          "></div>
  
    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
      <div class="card-body py-5 px-md-5">
  
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <h2 class="fw-bold mb-5">Criar conta</h2>
            <form action="/cadastro" method="post">
              <div class="form-outline mb-4">
                <input type="nome" name="name" placeholder="Nome" class="form-control" />
                <label class="form-label" for="form3Example3">Nome</label>
              </div>
              <div class="form-outline mb-4">
                <input type="password" name="senha" placeholder="Senha" class="form-control" />
                <label class="form-label" for="form3Example4">Senha</label>
              </div>
              <button type="submit" class="btn btn-primary btn-block mb-4">
                Criar conta
              </button>
            </form>

            <div class="text-center">
              <a href="/login">Já tem conta? entrar agora</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>